 #DocumentRoot "/home/akademiku"
    <Directory "/home/akademiku">
        Options None
        Require all granted
    </Directory>
    # Melarang akses langsung ke file .json
    <FilesMatch "\.json$">
        Order allow,deny
        Deny from all
        ErrorDocument 403 404notfound
    </FilesMatch>

    # Melarang akses langsung ke subfolder
    Options -Indexes

    <Directory "/home/akademiku/frontend">
        AllowOverride All
        Require all granted
    </Directory>

    # Menyertakan file dalam subfolder "frontend" kecuali "send"
    RewriteCond %{REQUEST_URI} !^/assets/pdf
    RewriteRule ^assets/(.*)$ /assets/$1 [L]
    # Melarang akses langsung ke file .php, .txt, .jpg dan .db
    <FilesMatch "\.(mp4|txt|db)$">
        Order allow,deny
        Deny from all
        ErrorDocument 403 404notfound
    </FilesMatch>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} ^/course\.php$
    RewriteCond %{QUERY_STRING} !token= [NC]
    RewriteRule .* - [F]
    <Directory "/home/akademiku/thumbnails">